In [7]:
import pandas as pd
import numpy as np

from IPython.core.interactiveshell import InteractiveShell

InteractiveShell.ast_node_interactivity = "all"
pd.options.display.max_columns = None

In [8]:
energy_data, temperature_data, stations_data = pd.read_pickle("../Data/CleanedData.pickle")

# Statistics
## Descriptive Statistics
Note that specific columns have been chosen, as in some cases descriptive statistics may be misleading (i.e. for categorical variables).
The choices have been made purely by human judgement.

In [9]:
energy_data[["TotalDemand", "RRP"]].describe()
temperature_data.describe()
stations_data[["StationHeight", "BarometerHeight", "CompletionPercent"]].describe()

        TotalDemand           RRP
count  1.658965e+06  1.658965e+06
mean   4.619879e+03  5.142330e+01
std    2.848202e+03  1.912126e+02
min    2.189000e+01 -1.000000e+03
25%    1.414270e+03  2.334000e+01
50%    5.131463e+03  3.441000e+01
75%    6.591495e+03  5.487000e+01
max    1.457986e+04  1.470000e+04

,StationNumber,Precipitation,AirTemperature,WetBulbTemperature,DewTemperature,RelativeHumidity,WindSpeed,WindDirection,WindgustSpeed,SeaPressure,StationPressure
count,1.826244e+06,1.406362e+06,1.014593e+06,1.805564e+06,1.140835e+06,1.140832e+06,852918.000000,1.036750e+06,1.089933e+06,1.574715e+06,1.805909e+06
mean,6.297429e+04,1.041248e+00,1.677426e+01,1.317785e+01,9.110140e+00,6.420346e+01,11.629759,1.903881e+02,1.936450e+01,1.016152e+03,1.011931e+03
std,2.686676e+04,4.703112e+00,6.243056e+00,4.676769e+00,5.478454e+00,1.900003e+01,8.852645,1.161376e+02,1.302222e+01,7.868127e+00,8.247630e+00
min,2.309000e+04,0.000000e+00,-1.940000e+01,-9.000000e-01,-3.920000e+01,1.000000e+00,0.000000,0.000000e+00,0.000000e+00,9.749000e+02,9.688000e+02
25%,4.091300e+04,0.000000e+00,1.220000e+01,9.600000e+00,5.100000e+00,5.100000e+01,5.400000,8.000000e+01,1.120000e+01,1.011400e+03,1.007100e+03
50%,6.606200e+04,0.000000e+00,1.610000e+01,1.280000e+01,8.600000e+00,6.500000e+01,9.400000,2.100000e+02,1.660000e+01,1.016600e+03,1.012700e+03
75%,8.633800e+04,2.000000e-01,2.090000e+01,1.660000e+01,1.280000e+01,7.900000e+01,16.600000,2.900000e+02,2.590000e+01,1.021500e+03,1.017600e+03
max,9.402900e+04,1.826000e+02,5.120000e+01,4.100000e+01,4.100000e+01,1.230000e+02,87.100000,3.600000e+02,1.278000e+02,1.041800e+03,1.037600e+03

       StationHeight  BarometerHeight  CompletionPercent
count       6.000000         6.000000           6.000000
mean       30.716667        31.766667         101.833333
std        19.023503        19.830549           4.308906
min         7.500000         7.500000          99.000000
25%        13.875000        14.275000          99.000000
50%        35.100000        36.200000         100.000000
75%        45.750000        48.300000         102.500000
max        50.500000        51.400000         110.000000